flows.json
[{"id":"c9f4b4f2.2313a8","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":160,"wires":[]},{"id":"83ad3e7.0799e4","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["4ec71eac.0e5cd"]]},{"id":"4ec71eac.0e5cd","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"POST","ret":"bin","paytoqs":"ignore","url":"http://192.168.0.100/capture","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":120,"wires":[["c9f4b4f2.2313a8","c81b97d6.dfe91"]]},{"id":"f502f76.24d3a88","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"cam/demo","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"69535ec4.9d939","x":310,"y":40,"wires":[]},{"id":"2656d280.0a4cee","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":40,"wires":[["f502f76.24d3a88"]]},{"id":"f81d0b6d.2aafb","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"cam/demo","qos":"2","datatype":"auto","broker":"69535ec4.9d939","nl":false,"rap":true,"rh":0,"x":120,"y":180,"wires":[["4ec71eac.0e5cd"]]},{"id":"2ebc38c7.b27bf8","type":"image viewer","z":"f6f2187d.f17ca8","name":"","width":160,"data":"payload","dataType":"msg","active":true,"x":650,"y":120,"wires":[[]]},{"id":"c81b97d6.dfe91","type":"jimp-image","z":"f6f2187d.f17ca8","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":490,"y":120,"wires":[["2ebc38c7.b27bf8"]]},{"id":"2bf6888a.b27488","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"251cb770.6534a8","order":1,"width":0,"height":0,"passthru":true,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Node capture","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":140,"wires":[["4ec71eac.0e5cd"]]},{"id":"69535ec4.9d939","type":"mqtt-broker","name":"Pi3","broker":"192.168.0.30:1883","port":"1883","clientid":"","usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"251cb770.6534a8","type":"ui_group","name":"Default","tab":"ef6a796.4665808","order":1,"disp":true,"width":"6","collapse":false},{"id":"ef6a796.4665808","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]